/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 876px;
	margin: 0 auto;
}

.nav-container header {
	width: 900px;
	position: fixed;
	top: 0px;
	margin: 0 auto;
	height: 50px;
	background: white;
	z-index: 1000;
}

.nav-container header img {
	position: absolute;
	top: 10px;
	right: 0px;
}

.nav-container nav {
	display: inline-block;
}

.nav-container nav a {
	display: inline-block;
	text-decoration: none;
	color: lightgray;
	margin: 20px 80px 30px 0;
	font-size: 12px;
}

.nav-container section {
	position: relative;
	margin-top: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid black;
}

 .nav-container section img {
	 position: absolute;
	 right: 0px;
 }

.get-started {
	display: inline-block;
	height: 380px;
	width: 50%;
	text-align: center;
	padding-top: 65px;
}

.get-started h1 {
	display: inline-block;
	font-size: 65px;
}

.get-started button {
	background: none;
	border: 1px solid black;
	width: 134px;
	height: 28px;
}

.get-started button:hover {
	background-color: dodgerblue;
	animation: pulse 0.5s alternate infinite linear;
}

.container {
	border-bottom: 1px solid black;
}

.container h2 {
	font-size: 20px;
}

 .container .top {
	 display: inline-block;
	 width: 434px;
	 margin: 40px 0;
 }

 .container .bottom {
	 display: inline-block;
	 width: 288px;
	 margin: 40px 0;
 }

 .contact {
	 margin: 40px 0;
 }

 .contact p {
	 margin: 20px 0;
 }

 footer {
	 text-align: center;
	 font-size: 14px;
 }

@keyframes pulse {
	from { transform: scale(1); }
	to { transform: scale(1.2); }
}

/* Testing remote to OneDrive */